@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
* {
  border: thin solid lightgreen;
} */

element {
  --header-height: 100px;
}

body {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Noto Sans', sans-serif;
}

/* -----header------ */

header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-image: url("bg.png");
  color: gold;

  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  font-family: 'Noto Serif', serif;
}

.logo {
  height: 50px;
  margin: 0 20px 0 30px;
}

h1 {
  font-size: 75px;
  margin: 0 15px 0 0;

  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  width: 300px;
}

.pre {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  margin: 0 15px 0 0; 
}

.preIcon {
  height: 25px;
}

.preText {
  margin: 7px 0 0 0;

  color: gold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

/* ------Bible-text------ */


main {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.testament {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  width: 50%;
}

.testament:last-child {
  margin-left: 0;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  margin: 18px auto 0;
  font-size: 18px;
  font-weight: bold;
  color: #20275b;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 14px;
  margin: 10px 5px 3px;
  color: #3e3e3e;
}

.bookGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subGroup {
  display: flex;
  flex-wrap: wrap;
}

.bookLnk {
  margin:5px 5px;
  font-size: small;
  font-weight: normal;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  flex-grow: 1;
  background: #464675;
  border-radius: 20px;
  transition: 0.33s;
}
.bookLnk:hover {
  background: #20275b;
  color: Gold;
}

@media all and (orientation : portrait) {
  
  .logo {
    height: 50px;
    margin: 0 10px 0 25px;
  }
  
  h1 {
    font-size: 60px;
    margin: 0 12px 0 0;
  }
  
  h2 {
    font-size: 24px;
    width: 550px;
  }
  
  .pre {
    margin: 0 25px 0 0; 
  }
  
  .preIcon {
    height: 40px;
  }
  
  .preText {
    display: none;
  }


/* ======== Main BLOCK ======== */

  main {
    flex-direction: column;
  }

  .testament {
    flex-direction: column;
    width: 100%;
    margin: 0 8px;
  }

  .testament:last-child {
    margin: 0 8px;
  }


  h3 {
      font-size: xx-large;
  }

  h4 {
      font-size: xx-large;
      margin-left: 10px;
  }

  .bookLnk {
    font-weight: normal;
    margin:10px;
    padding: 10px 0;
    font-size: xx-large;
    flex-grow: 1;
  }


}
