@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h2 {
  font-family: 'PT Serif', serif;
  text-align: center;
}

article {
  font-family: 'PT Serif', serif;
  text-indent: 2%;

  column-count: 2;
  column-gap: 2%;
}

li {
  font-family: 'PT Serif', serif;
}

.right {
  text-align: right;
}

.YHWH {
  font-weight: 700;
  color:darkred;
}
